/* Galleria Simple Theme
 * Created by Alex Thorpe http://www.alexthorpe.com
 * GPL2
 */

#galleria-loader{height:1px!important}

.galleria-container {
    position: relative;
    overflow: hidden;
}
.galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.galleria-stage {
    position: absolute;
    top: 0px;
    bottom: 32px;
    left: 0px;
    right: 0px;
    overflow:hidden;
}
.galleria-thumbnails-container {
    bottom: 32px;
    width: 100%;
    background: #ffffff;
    position: absolute;
    z-index: 5;
    display: none;
}
.galleria-carousel .galleria-thumbnails-list {
    margin-left: 30px;
    margin-right: 30px;
}
.galleria-thumbnails .galleria-image {
    height: 40px;
    width: 60px;
    border: 3px solid #fff;
    float: left;
    cursor: pointer;
}
.galleria-counter {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: right;
    color: #222222;
    font: normal 12px/1 arial,sans-serif;
    z-index: 1;
}
.galleria-loader {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
    background: url(simple-loader.gif) no-repeat 2px 2px;
}
.galleria-image-nav {
    display: none;
}
.touch .galleria-thumb-nav-left:active,
.touch .galleria-thumb-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}
.notouch .galleria-thumbnails-container .disabled:hover {
    opacity: .2;
    filter: alpha(opacity=20);
    background-color: transparent;
}

.galleria-more {
    max-width: 300px;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    display: none;
    position: absolute;
    z-index: 3;
    bottom: 40px;
    right: 10px;
    background: #000;
    opacity: .8;
    filter: alpha(opacity=80);
    overflow: hidden;
    color: #fff;
}

.galleria-more strong {
    font-weight: bold;
    padding-bottom: 5px;
    color: #fff !important;
}

.galleria-controls {
    height: 32px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.galleria-info {
    display: none;
}

.galleria-thumbnails-container .disabled {
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: default;
}
.notouch .galleria-thumb-nav-left:hover,
.notouch .galleria-thumb-nav-right:hover,
.touch .galleria-thumb-nav-left:active,
.touch .galleria-thumb-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}

.notouch .galleria-thumbnails-container .disabled:hover {
    opacity: .2;
    filter: alpha(opacity=20);
    background-color: transparent;
}

.galleria-carousel .galleria-thumb-nav-left,
.galleria-carousel .galleria-thumb-nav-right {
    display: block;
}
.galleria-fullscreen,
.galleria-play,
.galleria-previous,
.galleria-next {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.galleria-fullscreen,
.galleria-play,
.galleria-previous,
.galleria-next,
.galleria-play.playing,
.galleria-fullscreen.open,
.galleria-info-link {
    background: url('galleria-icons.png') no-repeat 0 0;
    opacity: .3;
    filter: alpha(opacity=30);
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.galleria-fullscreen:hover,
.galleria-play:hover,
.galleria-previous:hover,
.galleria-next:hover,
.galleria-play.playing:hover,
.galleria-fullscreen.open:hover,
.galleria-info-link:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.galleria-fullscreen {
    background-position: -32px 0 !important;
}

.open {
	background-position: 0 0 !important;
}

.galleria-play {
    background-position: -96px 0 !important;
    left: 64px;
}

.galleria-previous {
    background-position: -64px 0 !important;
    left: 32px;
}

.galleria-next {
    background-position: -160px 0 !important;
    left: 96px;
}

.galleria-play.playing {
    background-position: -128px 0 !important;
}

.galleria-info-link {
    background-position: -192px 0 !important;
}

.galleria-info-link {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    bottom: 0px;
    cursor: pointer;
}

.galleria-count {
    width: 60px;
    height: 32px;
    right: 30px;
    position: absolute;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
        .galleria-fullscreen,
        .galleria-previous,
        .galleria-next,
        .galleria-play,
        .galleria-play.playing,
        .galleria-fullscreen.open,
        .galleria-info-link {
            background: url('galleria-icons@2x.png') no-repeat 0 0;
            background-size: 224px 32px;
        }
}